.bannerText {
    font-size: 19px;
}
.heading {
    margin-top: 104px;
}

.target {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #EAEEF6;
    padding: 80px 0px 80px 0px;

}


@media screen and (min-width: 200px) and (max-width: 600px) {
    .targetText {
        padding: 50px;
    }
}

.team {
    margin-bottom: 100px;
}

.linkdin {
    display: none;
}
.cardBody:hover  .linkdin{
    display: block;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
} 

.cardBody:hover .card {
    /* box-shadow: 3px 3px 35px 1px rgba(0,0,0,0.52); */
    box-shadow: -8px -8px 16px rgba(0, 0, 0, 0.25), 8px 0px 16px rgba(0, 0, 0, 0.25);

}

.join {
    background-color: #2A2742;
    color: white;
    border-radius: 40px;
    padding: 52px;
}

@media screen and (min-width: 601px) {
    .emailButton {
        margin-left: -33px;
    }
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(39deg, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 88%, rgba(187,187,187,1) 100%);
}