#card1 #card-body {
    background-color: #FF5F2D;
    border-radius: 20px;
}
@media screen and (min-width: 200px) {
    #card1 #card-body {
        height: 500px;
    }
}
@media screen and (min-width: 600px) {
    #card1 #card-body {
        height: 400px;
    }
}

#card1 :hover {
    background-color: #FF5F2D;
    border-radius: 20px;
}

#card2 #card-body {
    background-color: #3DB475;
    border-radius: 20px;
}
@media screen and (min-width: 200px) {
    #card2 #card-body {
        height: 550px;
    }
}
@media screen and (min-width: 600px) {
    #card2 #card-body {
        height: 400px;
    }
}

#card2 :hover {
    background-color: #3DB475;
    border-radius: 20px;
}

#card3 #card-body {
    background-color: #FDC300;
    border-radius: 20px;
}
@media screen and (min-width: 200px) {
    #card3 #card-body {
        height: 500px;
    }
}
@media screen and (min-width: 600px) {
    #card3 #card-body {
        height: 400px;
    }
}

#card3 :hover {
    background-color: #FDC300;
    border-radius: 20px;
}

#card4 #card-body {
    background-color: #2A1E84;
    border-radius: 20px;
}
@media screen and (min-width: 200px) {
    #card4 #card-body {
        height: 500px;
    }
}
@media screen and (min-width: 600px) {
    #card4 #card-body {
        height: 400px;
    }
}

#card4 :hover {
    background-color: #2A1E84;
    border-radius: 20px;
}

#card5 #card-body {
    background-color:  #6255A4;
    border-radius: 20px;
    height: 400px;
}
@media screen and (min-width: 200px) {
    #card5 #card-body {
        height: 500px;
    }
}
@media screen and (min-width: 600px) {
    #card5 #card-body {
        height: 400px;
    }
}

#card5 :hover {
    background-color:  #6255A4;
    border-radius: 20px;
}

#card5 :hover img {
    background-color:  #6255A4;
}
