.footer-link {
    text-decoration: none;
    color: white;
}
.footer-link:hover {
    color: white;
}

@media screen and (min-width: 200px) {
    .marginTop {
        padding-top: 20px;
    }
}
@media screen and (min-width: 200px) and (max-width: 600px) {
    .marginX {
        margin-left: 20px;
    }
}
@media screen and (min-width: 600px) {
    .marginTop {
        padding-top: 160px;
    }
}

.schape1 {
    background-color: #2A2742;
}
.schape2 {
    background: #D94B62;

}

@media screen and (min-width: 200px){
    .schape1 {
        clip-path: polygon(0 0, 100% 9%, 100% 100%, 0 100%);
    
    } 
}

@media screen and (min-width: 600px) {
    .schape1 {
        clip-path: polygon(0 0, 100% 30.7%, 100% 100%, 0% 100%);
    
    } 
}

@media screen and (min-width: 200px){
    .schape2 {
        clip-path: polygon(45.4% 4.1%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0 31%, 0 0);    
    } 
}

@media screen and (min-width: 600px) {
    .schape2 {
        -webkit-clip-path: polygon(67% 20%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0 27%, 0 0);
        clip-path: polygon(65% 20%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0 27%, 0 0);
    
    } 
}

